@use '../global' as g;
// ヘッダー
.header{
    width: 100%;
    // height: 223px;
    // background-image: linear-gradient(g.$color-black 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    // @include g.pc{
    //     height: 22.3rem;
    // }
    // @include g.tab{
    //     height: 16rem;
    // }
    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        // position: relative;
        @include g.tab{
            width: 100%;
            padding-top: 5rem;
            align-items: center;
            margin: 0;
        }
    }
    &__logo{
        display: block;
        width: 370px;
        aspect-ratio: 370 / 60;
        img{
            width: 100%;
            height: auto;
        }
        @include g.pc{
            width: 37rem;
        }
        @include g.tab{
            width: 43.1rem;
            padding-left: 3.2rem;
        }
    }
    &__right{
       display: flex;
       align-items:flex-start;
       margin-left: auto;
       gap: 60px;
       @include g.pc{
           gap: 4rem;
       }
    }
}
.gloval-navi{
    @include g.tab{
        position: absolute;
        top: 183%;
        right: 3.8%;
    }
    .menu{
        display: flex;
        -webkit-box-orient: horizontal;
        align-items: flex-start;
        gap: 24px;
        
        @include g.pc{
            gap: 2.4rem;
        }
        @include g.tab{
            gap: 4.6rem;

        }
    }
    .menu-item{
        width: 32px;
        max-height: 600px;
        display: block;
        writing-mode: vertical-lr;
        @include g.tab{
            width: 6.1rem;
        }
    }
    .nav-link{
        width: 100%;
        @include g.font-style(20px, g.$color-black, 600, 1, 0.02em);
        display: block;
        writing-mode: inherit;
        transition: color 0.3s ease;
        padding: 8px 6px;
        background-color: g.$color-white;
        transition: all 0.3s ease;
        font-feature-settings: "pkna";
        @include g.pc{
            font-size: 2rem;
            padding: 1rem 0.8rem;
        }
        @include g.tab{
            font-size: 3.8rem;
            padding: 1.4rem 1rem;
        }
        &:hover{
            background-color: g.$color-gold;
            color: g.$color-white;
            transition: all 0.3s ease;
        }
        &.current{
            color: g.$color-gold;
        }
    }
}

//メインビジュアル
.main-visual{
    width: 100%;
    height: 980px;
    overflow: hidden;
    aspect-ratio: 1920 / 980;
    position: relative;
    @include g.pc{
        height: 100vh;
    }
    @include g.tab{
        height: 140rem;
        aspect-ratio: 856/1400;
    }
    img{
        height: 100%;
    }
    &__bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    &__inner{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        transform: scale(1.1);
        transition: all 3.5s cubic-bezier(0.455, 0.833, 0.515, 0.955), transform 3.5s cubic-bezier(0.455, 0.833, 0.515, 0.955);
        &.is-visible{
            max-width: 100%;
            z-index: 1;
            opacity: 1;
            transform: scale(1.0);
            height:100%;
        }
    }
    &__container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__textbox{
        position: relative;
    }
    &__copy{
        width: 105px;
        aspect-ratio: 105/730;
        overflow: visible;
        @include g.pc{
            width: 10.5rem;
        }
        @include g.tab{
            width: 10rem;
        }
        img{
            filter: drop-shadow(0 0 3.2rem rgba(0, 0, 0, 1));
            height: auto;
        }
    }
}

//ローディングアニメーション
// .splash{
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     z-index: 9999;
//     background: g.$color-white;
//     text-align: center;
//     color: g.$color-green;
//     &__logo{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         width: 200px;
//     }
//     .fade-up{
//         animation: zoomUpAnime 1.7s forwards;
//         animation-delay: 0.2s;
//         opacity: 0;
//     }
//     &.hide{
//         display: none;
//     }
// }