@use '../global' as g;
//コンセプト
.concept-lead{
    &__frame{
        width: 100%;
        aspect-ratio:1920/51;
        @include g.tab{
            aspect-ratio: 856/51;
        }
        img{
            height: auto;
        }
    }
    &__inner{
        text-align: center;
    }
    &__textbox{
        margin-top: 105px;
        @include g.font-style(24px, g.$color-black, 500, 2.5, 0);
        @include g.pc{
            margin-top: 10.5rem;
            font-size: 2.4rem;
        }
        @include g.tab{
            margin-top: 10.8rem;
            font-size: 4rem;
        }
        span{
            font-size: 48px;
            color: g.$color-brown;
            line-height: 1;
            @include g.pc{
                font-size: 4.8rem;
            }
            @include g.tab{
                font-size: 8rem;
            }
        }
    }
}
.concept__textbox{
    @include g.font-style(18px, g.$color-black, 500, 2, 0);
    @include g.pc{
        font-size: 1.8rem;
    }
    @include g.tab{
        font-size: 3.6rem;
    }
}
//もっと安く
.concept01{
    width: 100%;
    padding: 40px 0 234px;
    margin-top: 100px;
    background-image: url("../images/noren.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include g.pc{
        padding: 4rem 0 23.4rem;
        margin-top: 10rem;
    }
    @include g.tab{
        padding: 8rem 0 19.2rem;
        margin-top: 16rem;
        background-image: url("../images/noren-sp.svg");
    }
    &__inner{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        width: 475px;
        aspect-ratio: 475/268;
        @include g.pc{
            width: 47.5rem;
        }
        @include g.tab{
            width: 79.2rem;
            aspect-ratio: 793/448;
        }
        img{
            height: auto;
        }
    }
    &__text{
        margin-top: 40px;
        @include g.pc{
            margin-top: 4rem;
        }
        @include g.tab{
            margin-top: 8rem;
        }
    }
}
//鰻の持つパワー
.power{
    margin-top: 100px;
    @include g.pc{
        margin-top: 10rem;
    }
    @include g.tab{
        margin-top: 16rem;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        position: relative;
        &:before{
            content: "";
            display: block;
            width: 588px;
            height: 369px;
            background-image: url("../images/unagi.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include g.pc{
                width: 58.8rem;
                height: 36.9rem;
            }
            @include g.tab{
                width: 79.2rem;
                height: 49.8rem;
            }
        }
    }
    &__text{
        @include g.font-style(24px, g.$color-black, 500, 2.5, 0);
        margin-top: 47px;
        @include g.pc{
            font-size: 2.4rem;
            margin-top: 4.7rem;
        }
        @include g.tab{
            font-size: 4rem;
            margin-top: 5rem;
        }
        span{
            font-size: 48px;
            line-height: 1;
            @include g.pc{
                font-size: 4.8rem;
            }
            @include g.tab{
                font-size: 8rem;
            }
        }
    }
    &__figure{
        width: 816px;
        aspect-ratio: 1/1;
        margin-top: 60px;
        @include g.pc{
            width: 81.6rem;
            margin-top: 6rem;
        }
        @include g.tab{
            width: 100%;
            margin-top: 8rem;
        }
    }
    &__items{
        width: 100%;
        margin-top: 118px;
        @include g.pc{
            margin-top: 11.8rem;
        }
        @include g.tab{
            margin-top: 20rem;
        }
    }
    &__item{
        margin-top: 160px;
        @include g.pc{
            margin-top: 16rem;
        }
        @include g.tab{
            margin-top: 20rem;
        }
        &:first-child{
            margin-top: 0;
        }
    }
}
.concept-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include g.tab{
        flex-direction: column;
    }
    &__thumbnail{
        width: 50%;
        aspect-ratio:616/592;
        @include g.tab{
            width: 100%;
        }
        img{
            height: auto;
        }
    }
    &__body{
        width: calc(540/1232)*100%;
        @include g.tab{
            width: 100%;
            margin-top: 10rem;
        }
    }
    &__title{
        .concept02 &{
            width: 430px;
            aspect-ratio: 430/270;
            @include g.pc{
                width: 43rem;
            }
            @include g.tab{
                width: 100%;
            }
            img{
                height: auto;
            }
        }
        .concept03 &{
            width: 424px;
            aspect-ratio: 424/269;
            @include g.pc{
                width: 42.4rem;
            }
            @include g.tab{
                width: 100%;
            }
            img{
                height: auto;
            }
        }
    }
    &__text{
        margin-top: 40px;
        @include g.pc{
            margin-top: 4rem;
        }
        @include g.tab{
            margin-top: 7.7rem;
        }
    }
}
//メッセージ
.message{
    margin-top: 240px;
    margin-bottom: 20rem;
    @include g.pc{
        margin-top: 24em;
        margin-bottom: 20rem;
    }
    @include g.tab{
        margin-top: 20rem;
        margin-bottom: 20rem;
    }
    &__inner{
        display: flex;
        justify-content: center;
    }
    &__text{
        @include g.font-style(32px, g.$color-brown, 500, 2.5, 0);
        padding-top: 16px;
        background: linear-gradient(to left, rgba(191, 140, 78, 1) 1px, transparent 1px) transparent;
        background-size: 8rem auto;
        background-position: 1px top;
        border-right: solid 1px g.$color-gold;
        @include g.pc{
            font-size: 3.2rem;
            padding-top: 1.6rem;
        }
        @include g.pc{
            font-size: 6rem;
            background-size: 15rem auto;
        }
    }
}