@use '../global' as g;
.happiness{
    width: 100%;
    padding: 91px 0 57px;
    background-image: url("../images/kodawari-bg@2x.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include g.pc{
        padding: 9.1rem 5.7rem;
    }
    @include g.tab{
        background-image: url("../images/merit-bg@2x.webp");
        padding: 3.4rem 0 6.2rem;
    }
    &__title{
        margin-top: -55px;
        @include g.pc{
            margin-top: -5.5rem;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        @include g.tab{
            flex-direction: column;
        }
    }
    &__items{
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        margin-right: 30px;
        @include g.pc{
            gap: 4rem;
            margin-right: 3rem;
        }
        @include g.tab{
            flex-direction: column;
            align-items: center;
            gap: 20rem;
            margin-right: 0;
            margin-top: 17.4rem;
        }
    }
    &__link{
        margin-right: 80px;
        margin-top: -300px;
        @include g.pc{
            margin-right: 8rem;
            margin-top: -30rem;
        }
        @include g.tab{
            display: none;
        }
        &-tab{
            display: none;
            @include g.tab{
                display: block;
                margin-top: 12rem;
            }
            
        }
    }
}