//-------------------------------
// レスポンシブ定義
//-------------------------------
$ultra: 1920px; //ウルトラワイドモニター
$wide:  1600px; //ワイドコンテナー
$pc:    1300px; // PC
$s-pc:    1300px; // PC
$tab:   768px;  // タブレット
$small: 560px;  //ワイドスマホ
$sp:    428px;  // スマホ

//ウルトラワイドモニター
@mixin ultra {
  @media only screen and (min-width: ($ultra)){
    @content;
  }
}
//ウルトラワイドモニター
@mixin wide-container {
  @media only screen and (max-width: ($wide)){
    @content;
  }
}
//1200px以下のPC及びタブレット
@mixin pc {
  @media only screen and (max-width: ($pc)) {
    @content;
  }
}
//1024px以下のPC及びタブレット
@mixin s-pc {
  @media only screen and (max-width: ($s-pc)) {
    @content;
  }
}
//タブレット
@mixin tab {
  @media only screen and (max-width: ($tab)) {
    @content;
  }
}
//ワイドスマホ
@mixin small {
  @media only screen and (max-width: ($small)) {
    @content;
  }
}
//スマホ
@mixin sp {
  @media only screen and (max-width: ($sp)) {
    @content;
  }
}



//-------------------------------
//  font-family
//-------------------------------
$font:'Noto Serif JP', serif;
$sans: 'Noto Sans JP', sans-serif;
//-------------------------------
//  color
//-------------------------------
$color-black:     #333333;
$color-dark:      #575757;
$color-white:     #ffffff;
$color-grey:      #cccccc;
$color-grey2:     #686868;
$color-green:     #3A863F;
$color-orange:    #EC6A06;
$color-blue:      #408BD1;

//-------------------------------
//  font-style mixin
//-------------------------------
@mixin font-style($font-size, $font-color, $font-weight, $line-height, $letter-spacing){
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}



//-------------------------------
//  ベースのCSS
//-------------------------------
html{
    font-family: $font;
    //---------------------------------------------------
    //計算式：10px /  デザインカンプの横幅 * 100
    //画面サイズがデザインカンプ幅の時font-size = 10pxになる
    //---------------------------------------------------
    font-size: calc(10 / 1920 * 100) + vw;
    @include pc{
        font-size: calc(10 / 1300 * 100) + vw;
    }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 428 * 100) + vw;
    }
}
body{
    overflow-x: hidden;
    font-family: $font;
    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
picture{
    display: block;
}
a[href^="tel:"] {
    pointer-events: none;
    @include small{
        pointer-events: auto;
    }
}