@use '../global' as g;
//リンクボタン
.button-tab{
    a{
        width: 100%;
        @include  g.font-style(3.6rem, g.$color-brown, 500, 1, 0.02em);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5.2rem;
        border-radius: 100vh;
        border: solid 2px g.$color-brown;
        position: relative;
        &:hover{
            span{
                right: 25%;
                transition: all 0.3s ease;
            }
        }
        span{
            display: block;
            width: 1.6rem;
            height: 3.2rem;
            position: absolute;
            top: 50%;
            right: 27%;
            transform: translateY(-50%);
            transition: all 0.3s ease;
        }
    }
}
.tategaki-button{
    a{
        @include  g.font-style(20px, g.$color-white, 500, 1, 0.1em);
        padding: 50px 25px;
        background-color: transparent;
        border: solid 2px g.$color-white;
        transition: all 0.3s ease;
        @include g.pc{
            font-size: 2rem;
            padding: 5rem 2.5rem;
        }
        &:hover{
            background-color: g.$color-white;
            color: g.$color-brown;
            transition: all 0.3s ease;
        }
    }
}