@use '../global' as g;
//リンクボタン
.button-tab{
    a{
        width: 100%;
        @include  g.font-style(3.6rem, g.$color-brown, 600, 1, 0.02em);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5.2rem;
        border-radius: 100vh;
        border: solid 2px g.$color-brown;
        position: relative;
        &:hover{
            span{
                transform: translateX(6rem);
                transition: all 0.3s ease;
            }
        }
        span{
            display: block;
            width: 1.6rem;
            height: 3.2rem;
            transform: translateX(4rem);
            transition: all 0.3s ease;
        }
    }
}
.tategaki-button{
    a{
        @include  g.font-style(20px, g.$color-white, 600, 1, 0.1em);
        padding: 46px 25px;
        background-color: transparent;
        border: solid 2px g.$color-white;
        transition: all 0.3s ease;
        display: block;
        @include g.pc{
            font-size: 2rem;
            padding: 4.6rem 2.5rem;
        }
        &:hover{
            background-color: g.$color-white;
            color: g.$color-brown;
            transition: all 0.3s ease;
        }
    }
}
.clear-button{
    a{
        @include g.font-style(16px, g.$color-black, 600, 1, 0.1em);
        display: flex;
        align-items: center;
        transition: color 0.3s ease;
        @include g.tab{
            font-size: 2.8rem;
        }
        &:hover{
            color: g.$color-gold;
            transition: color 0.3s ease;
            span{
                transform: translateX(50%);
                transition: transform 0.3s ease;
            }
        }
        span{
            width: 12px;
            aspect-ratio: 1/2;
            margin-left: 41px;
            transform: translateX(0%);
            transition: transform 0.3s ease;
            @include g.tab{
                margin-left: 2.8rem;
            }
            img{
                height: auto;
            }
        }
    }
}