@use '../global' as g;
.tategaki-comp{
    &__title{
        @include g.font-style(32px, g.$color-white, 500, 1, 0.1em);
        position: relative;
        white-space: nowrap;
        font-feature-settings: "palt";
        font-feature-settings: "pkna";
        @include g.pc{
            font-size: 3.2rem;
        }
        @include g.tab{
            font-size: 7.2rem;
        }
        span{
            display: inline-block;
            width: 84px;
            aspect-ratio: 1/1;
            position: absolute;
            bottom: 101%;
            left: 50%;
            transform: translateX(-50%);
            @include g.pc{
                width: 8.4rem;
            }
            @include g.tab{
                width: 19rem;
            }
            img{
                height: auto;
            }
        }
    }
    &__text-box{
        @include g.font-style(16px, g.$color-white, 500, 2, 0.1em);
        max-height: 520px;
        margin-right: 24px;
        @include g.pc{
            font-size: 1.6rem;
            max-height: 52rem;
            margin-right: 2.4rem;
        }
        @include g.tab{
            font-size: 3.6rem;
            max-height: 117.7rem;
            margin-right: 5.4rem;
        }
    }
}