@use '../global' as g; 
//h2タイトル
.section__title{
    &_size_s{
        @include g.font-style(48px,g.$color-white, 500, 2, 0.1em);
        white-space: nowrap;
        font-feature-settings: "palt";
        font-feature-settings: "pkna";
        @include g.pc{
            font-size: 4.8rem;
        }
        @include g.tab{
            font-size: 8rem;
        }
    }
}